# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?

      The paper emphasizes the importance of data tidying for effective data analysis by using a structure. Variables are columns, observations are rows, and each unit is a table, simplifying the cleaning process.



  2. Read the introduction. What is the "tidy data standard" intended to accomplish?

  The tidy data standard intends to streamline data preparation and allow analysts to focus on substantive analysis rather than data structures



  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."

  I think the first sentence compares tidy datasets and messy ones. It means that tidy ones follow a standard structure whereas messy ones lack this structure and can be disorganized in many unpredictable ways. This causes a unique problem with every dataset which makes it hard to find a standardized way to clean them.

  I think the second sentence refers to looking at a specific data and how straightforward it is to identify which element represent observations, which represent variables. But creating a universal definition that applies to all the datasets is much harder.



  4. Read Section 2.2. How does Wickham define values, variables, and observations?

  Values: individual pieces of data which can be numbers or strings

  Variables: all values that measure the same underlying attribute across different observational units.

  Observations: All values measured on the same unit across different attributes


  5. How is "Tidy Data" defined in section 2.3?

  A standard way of organizing a dataset structure to reflect its meaning.
  - Each variable forms a column
  - Each observation forms a row
  - Each type of observational unit forms a table

  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?

  - Column headers as values
  - Multiple variables in one column
  - variables in both rows and columns
  - mixed observational units
  - single observational unit across multiple tables

  The columns in table 4 have a hidden variable (income) instead of being proper variable names. Melting a data set would involve transforming column-value variable into rows



  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?

  Table 11 is messy because it uses days as column headers, which are values not proper variable names. Table 12 melts these days into a single variable but is still not tidy because the element variable contains variable names instead of actual values.

  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

  The problem is that if the tidy framework is soley aimed at facilitating specific tools, it risks being perceived as mere marketing. Wickham hopes that further work on data wrangling will lead to a broader philosophy on data cleaning

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv('./data/airbnb_hw.csv', low_memory=False)
print( df.shape, '\n')
df.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [4]:
price = df['Price']
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

In [5]:
price = df['Price']
price = price.str.replace(',','') # Replace commas with nothing
print( price.unique() , '\n')
price = pd.to_numeric(price,errors='coerce') # Typecast price to float/numeric
print( price.unique() , '\n')
print( 'Total missing: ', sum( price.isnull() ) ) # This converts all the values

['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1500' '83' '96' '1800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1300' '440' '599' '357' '1239' '495'
 '127' '5999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2750' '4750' '432' '675' '167' '390' '298' '339' '194' '302' '211'
 '595' '191' '53' '361' '480' '8000' '4500' '459' '997' '345' '216' '218'
 '111' '735' '276' '91' '490' '850' '398' '36' '775' '267' '625' '336'
 '2500' '176' '725' '3750' '469' '106' '460' '287' '575' '227' '263' '25'
 '228' '208' '177' '880' '148' '116' '685' '470' '217' '164' '61' '645'
 '699' '405' '252' '319' '268' '419' '343' '525' '311' '840' '154' '294'
 '950' '409' '184' '257' '204' '241' '2000' '412' '121' '288' '196' '900'
 '647' '524' '1750' '309' '510' '1495' '1700' '799' '383' '372' '492'
 '327' '1999' '656' '224' '173' '875' '1170' '795' '690' '146' '465'
 '1100' '151' '274' '429' '825' '282' '256' '1111' '620' '271' '161' '51'
 '855' '579' '1174' '430' '20' '899' '649' '485' '181' '455' '4000' '243'
 '342' '590' '560' '374' '437' '232' '359' '985' '31' '244' '254' '723'
 '237' '428' '370' '34' '1400' '580' '2520' '221' '749' '1600' '2695'
 '306' '202' '680' '570' '520' '223' '2295' '213' '1065' '346' '24' '286'
 '296' '266' '26' '995' '1368' '393' '182' '635' '258' '780' '589' '347'
 '1250' '1350' '446' '3200' '1050' '1650' '1550' '975' '323' '6500' '2499'
 '1850' '2250' '715' '461' '540' '356' '439' '384' '569' '1900' '22' '785'
 '626' '830' '318' '444' '321' '401' '1499' '888' '369' '770' '386' '366'
 '344' '630' '313' '597' '262' '509' '10000' '278' '312' '789' '1195'
 '422' '21' '765' '3500' '945' '326' '3100' '2486' '3390' '1356' '2599'
 '472' '454' '328' '396' '291']

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

Total missing:  0

In [6]:
df = pd.read_csv('./data/sharks.csv', low_memory=False)
# df.head()
# df.columns.tolist()

In [7]:
df['Type'].value_counts()

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

In [8]:
type = df['Type'] # Create a temporary vector of values for the Type variable to play with

type = type.replace(['Sea Disaster', 'Boat','Boating','Boatomg'],'Watercraft') # All watercraft/boating values
type.value_counts()

type = type.replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan) # All unclean values
type.value_counts()

df['Type'] = type # Replace the 'Type' variable with the cleaned version
del type # Destroy the temporary vector

df['Type'].value_counts()

Type
Unprovoked    4716
Provoked       593
Watercraft     583
Name: count, dtype: int64

In [9]:
# This is interesting: Sharks are much more likely to kill you if the situation is UNprovoked.
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace(['UNKNOWN', 'F','M','2017'],np.nan) # All unclean values
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace('y','Y') # All unclean values
pd.crosstab(df['Type'],df['Fatal (Y/N)'],normalize='index')

Fatal (Y/N)         N         Y
Type
Provoked     0.967521  0.032479
Unprovoked   0.743871  0.256129
Watercraft   0.684303  0.315697

In [12]:
df = pd.read_csv('./data/pretrial_data.csv', low_memory=False)
# df.head()
# df.columns.tolist()

In [17]:
import pandas as pd
import numpy as np

# Assume df is already defined and contains the necessary data
try:
    release = df['released']

    # Display unique values and their counts
    print("Unique values before cleaning:")
    print(release.unique(), '\n')

    print("Value counts before cleaning:")
    print(release.value_counts(), '\n')

    # Replace unclear values with NaN
    release = release.replace(9, np.nan)

    print("Value counts after replacing 9 with NaN:")
    print(release.value_counts(), '\n')

    # Count missing values
    missing_count = sum(release.isnull())
    print(f"Missing values count: {missing_count}\n")  # Output number of missing values

    # Update the DataFrame
    df['WhetherDefendantWasReleasedPretrial'] = release  # Replace column with cleaned data

    # Clean up
    del release  # Optional, to free memory

except KeyError as e:
    print(f"Error: The column '{e.args[0]}' does not exist in the DataFrame.")

Unique values before cleaning:
[9 0 1]

Value counts before cleaning:
released
1    11048
0     3389
9       26
Name: count, dtype: int64

Value counts after replacing 9 with NaN:
released
1.0    11048
0.0     3389
Name: count, dtype: int64

Missing values count: 26

In [18]:
length = df['ImposedSentenceAllChargeInContactEvent']
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']

# print( length.unique()  , '\n') # Some values are ' ', denoting missing
length = pd.to_numeric(length,errors='coerce') # Coerce to numeric
length_NA = length.isnull() # Create a missing dummy
print( np.sum(length_NA),'\n') # 9k missing values of 23k, not so good

print( pd.crosstab(length_NA, type), '\n') # Category 4 is cases where the charges were dismissed

length = length.mask( type == 4, 0) # Replace length with 0 when type ==4
length = length.mask( type == 9, np.nan) # Replace length with np.nan when type == 9

length_NA = length.isnull() # Create a new missing dummy
print( pd.crosstab(length_NA, type), '\n')
print( np.sum(length_NA),'\n') # 274 missing, much better

df['ImposedSentenceAllChargeInContactEvent'] = length # Replace data with cleaned version
del length, type # Delete temporary length/type variables

5101

SentenceTypeAllChargesAtConvictionInContactEvent   0.0   1.0  2.0   4.0  9.0
ImposedSentenceAllChargeInContactEvent
False                                             5008  3502  852     0    0
True                                                 0     0    0  4979  121

SentenceTypeAllChargesAtConvictionInContactEvent   0.0   1.0  2.0   4.0  9.0
ImposedSentenceAllChargeInContactEvent
False                                             5008  3502  852  4979    0
True                                                 0     0    0     0  121

122